
.FirstCartPage---container, .FirstCartPageB---container{
    margin: 3em 4em 2em 4em;
  
}


.FirstCartPage---titlePage{
   margin: 3em 2em 2em 3em;
   text-align: center;
}

.FirstCartPage---noViewForSale{
    display: none;
}

.FirstCartPage---titlePage h2{
    color: #151414;
    text-align: center;
 
}
.FirstCartPage---titlePage p{
    line-height: 24px;
    color: #646464;
}

.FirstCartPage---ViewPanel{
    display: flex;
    gap: 5em;
}
.FirstCartPage---SearchPanel{
    background: #F4F4F4;
    border: 2px solid #D7D7D7;
    border-radius: 20px;
    width: 17%;
    /* max-width: 16%; */
  
    height: 31em;
    padding: 13px;
}

/* .searchPanel--widthIssue{
    width: 15%;
} */

/* .FirstCartPgae---checkBoxContainer-A{
    margin: 3px 0px 3px 0px;
} */
.FirstCartPgae---checkBoxContainer-A, .FirstCartPgae---checkBoxContainer-B{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}


.FirstCartPgae---checkBoxContainer-A input[type="checkbox"], .FirstCartPgae---checkBoxContainer-B input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #151414;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .FirstCartPgae---checkBoxContainer-A input[type="checkbox"]:checked, .FirstCartPgae---checkBoxContainer-B input[type="checkbox"]:checked {
    background-color: #151414;
    color: white;
  }
  
  .FirstCartPgae---checkBoxContainer-A input[type="checkbox"]:checked::before,  .FirstCartPgae---checkBoxContainer-B input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }



.no-products-message{
    position: absolute;
    color: #646464;
   margin-top: 10em;
   margin-left: 20em;
    
}
.container---no-products-message{
    width: 90%;
}



/* am just check dfijdinvjsdnjv */
.FirstCartPgae---labelContent-A{
    margin-left: -7em;
}
.FirstCartPgae---labelContent-B{
    margin-left: -3em;
}
.FirstCartPgae---labelContent-C{
    margin-left: -2.5em;
}
.FirstCartPgae---labelContent-D{
    margin-left: -2em;
    color: #151414;
}
.FirstCarPge---ProductDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
      width: 100%;
    gap: 2em;
    /* margin-bottom: 1em; */

}
.FirstCartPgae---RangeBox h4, .FirstCartPage--size{
    margin-top: 25px;
}
.FirstCartPage--size{
    margin-top: 10px;
}
.FirstCartPgae---labelContent-E{
    margin-left: -5.3em;
}
.FirstCartPgae---labelContent-F{
    margin-left: -6.3em;
}
.FirstCartPgae---labelContent-G{
    margin-left: -5.5em;
}
.FirstCartPgae---labelContent-H{
    margin-left: -6em;
}
.FirstCartPage--Brands{
    margin-top: 20px;
}

.firstCARTpAGE---filterTag{
    display: none;
}
.filtercloseBTN{
    display: none;
}


@media (min-width:1440px){

    .FirstCartPage---SearchPanel {
        width: 12%;}


   }




@media screen and (max-width:1024px){
    .FirstCartPage---SearchPanel {
        z-index: 1;
        position: absolute;
        margin-left: -80em;
       height: auto;
       transition: 1s ease-in;
       border: none;
    }

    .firstCARTpAGE---filterTag{
        display: inline-flex;
        color: white;
        background: #141B34;
        box-shadow: 0px 4px 4px 1px rgba(138, 135, 135, 0.3);
        border-radius: 8px;
        padding: 10px 10px;
        gap: 7px;
        margin-left: 50em;
        /* margin-top: 1.5em; */
        cursor: pointer;
    }
    .firstCARTpAGE---filterTag p{
        font-size: 1.2em;
    }




    .Close---SearchPanel{
        background: #F4F4F4;
        position: absolute;
        font-size: 0.8em;
        margin-top: -6.5em;
         border-radius: 20px;
        padding: 13px;
        width: 16%;
        height: auto;
        z-index: 1;
        border: 2px solid #141B34;
        transition: 1s ease-out;
        /* z-index: 9999; */
    }
    .filtercloseBTN{
        display: block;
        margin-left: 5em;
        margin-bottom: 1.5em;
         cursor: pointer;
    }


    .FirstCartPage---ViewPanel {
        justify-content: center;
    }

}
@media screen and (max-width:988px){
    /* .FirstCartPage---ViewPanel {
        margin-left: 3.6rem;
    } */

    .FirstCartPage---SearchPanel {
        margin-left: -20em;}

        .FirstCarPge---ProductDisplay {
            grid-template-columns: 1fr 1fr 1fr;}


            .firstCARTpAGE---filterTag {
                margin-left: 48em;}

}

            @media screen and (max-width:820px){
                /* .FirstCartPage---ViewPanel {
                    margin-left: 2.6rem;
                } */
            }


@media screen and (max-width:768px),  (max-width:600px), (max-width:820px){
    .FirstCarPge---ProductDisplay {
        grid-template-columns:  1fr 1fr 1fr;
        gap: 1em;
      
    }

    .container---no-products-message {
        width: unset;
    }



        @media (max-width:820px){
            .FirstCartPage---ViewPanel {
                justify-content: center;
            }
        }

        @media (max-width:768px){
            /* .FirstCartPage---ViewPanel {
                margin-left: 1.5rem;
       
               } */
        }

        @media (max-width:734px){

            .container---no-products-message{
                width: unset;
            }
            /* .FirstCartPage---ViewPanel {
                margin-left: 0.5rem;
       
               } */
        }





      

    .FirstCartPage---container, .FirstCartPageB---container{
        margin: 3em 2em 2em 2em;
    }
    .FirstCartPageB---container{
        margin: -2.5em 2em 2em 2em;
    }


    .FirstCartPage---SearchPanel {
        z-index: 1;
        position: absolute;
        margin-left: -58em;
       height: auto;
       transition: 1s ease-in;
       border: none;
    }

    .firstCARTpAGE---filterTag{
        display: inline-flex;
        color: white;
        background: #141B34;
        box-shadow: 0px 4px 4px 1px rgba(138, 135, 135, 0.3);
        border-radius: 8px;
        padding: 10px 10px;
        gap: 7px;
        margin-left: 38em;
        /* margin-top: 1.5em; */
        cursor: pointer;
    }

    .firstCARTpAGE---filterTag p{
        font-size: 1.2em;
    }
    .Close---SearchPanel{
        background: #F4F4F4;
        position: absolute;
        font-size: 0.8em;
        margin-top: -6.5em;
         border-radius: 20px;
        padding: 13px;
        width: 23%;
        height: auto;
        z-index: 1;
        border: 2px solid #141B34;
        transition: 1s ease-out;
        /* z-index: 9999; */
    }
    .filtercloseBTN{
        display: block;
        margin-left: 5em;
        margin-bottom: 1.5em;
         cursor: pointer;
    }
    


}


@media screen and (max-width:736px){
    .firstCARTpAGE---filterTag {
        margin-left: 35em;}

        .container---no-products-message {
            width: unset;
        }

}

@media screen and (max-width:667px),(max-width:684px){
    .firstCARTpAGE---filterTag {
        margin-left: 27em;}


        .FirstCarPge---ProductDisplay {
            grid-template-columns: 1fr 1fr;}

            /* .FirstCartPage---ViewPanel {
                margin-left: 3.5rem;
               } */

               .FirstCart--TurnHeads{
                display: none;
               }


               .container---no-products-message {
                width: unset;
            }


            /* .FirstCartPage---SearchPanel {
                margin-left: -47em;} */


               


}


@media screen and (max-width:568px){
    .firstCARTpAGE---filterTag {
        margin-left: 24em;}


        .FirstCartPage---ViewPanel {
            justify-content: center;
            /* margin-left: 12px; */
        }


        @media (max-width:475px){
            /* .FirstCartPage---ViewPanel {
              
                margin-left: 23px;
            }
     */
        }


    
        .FirstCartPage---SearchPanel {
            margin-left: -43em;}
    
            .FirstCarPge---ProductDisplay {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1em;  
            }
    
    
         
              .ProductDisplay---add-to-cart {
                    left: 3em;
                    top: 0em;
            } 
    
            .Close---SearchPanel{
                width: 50%;
            }
}


@media screen and (max-width:480px){
    .firstCARTpAGE---filterTag{ 
        margin-left: 20.8em; 
          }


          .FirstCartPage---SearchPanel {
            margin-left: -40em;}
}

@media screen and (max-width:430px){
    .firstCARTpAGE---filterTag{ 
        margin-left: 19.8em; 
          }
          .FirstCartPage---SearchPanel {
            margin-left: -37em;}

            /* .FirstCartPage---ViewPanel {
                margin-left: 13px;
            } */
}

@media screen and (max-width:414px){

    .firstCARTpAGE---filterTag{ 
  margin-left: 18.5em; 
    }
    .FirstCartPage---SearchPanel {
        margin-left: -35em;}

        /* .FirstCartPage---ViewPanel {
            margin-left: 13px;
        } */

      

}





@media screen and (max-width:390px){
    .firstCARTpAGE---filterTag{ 
        margin-left: 17.5em; 
          }

          .FirstCartPage---SearchPanel {
            margin-left: -35em;}

            /* .FirstCartPage---ViewPanel {
                margin-left: -1px;
            } */


}

@media (max-width:393px){
    .firstCARTpAGE---filterTag{
       
        margin-left: 17.5em;
      
    }

    /* .FirstCartPage---ViewPanel {
        margin-left: 0px;
    } */

}

@media screen and (max-width:375px){
    .firstCARTpAGE---filterTag{ 
        margin-left: 16em; 
          }

          .FirstCartPage---SearchPanel {
             margin-left: -35em;}

             /* .FirstCartPage---ViewPanel {
                justify-content: center;
                
            } */

            /* @media (max-width:360px){
                .FirstCartPage---ViewPanel {
                    margin-left: -16px;
                }

            } */
}





@media screen and (max-width:375px), (max-width:414px), (max-width:430px), (max-width:480px){

.FirstCartPage---SearchPanel {
   z-index: 1;
    position: absolute;
    /* margin-left: -35em; */
   height: auto;
   transition: 1s ease-in;
   border: none;
}

.container---no-products-message {
    width: unset;}

 .FirstCartPage---ViewPanel {
 justify-content: center;             
            }


.Close---SearchPanel{
    background: #F4F4F4;
    position: absolute;
    font-size: 0.8em;
    margin-top: -6.5em;
     border-radius: 20px;
    padding: 13px;
    width: 40%;
    height: auto;
    z-index: 1;
    border: 2px solid #141B34;
    transition: 1s ease-out;
}
.filtercloseBTN{
    display: block;
    margin-left: 5em;
    margin-bottom: 1.5em;
     cursor: pointer;
}

.FirstCartPage---container, .FirstCartPageB---container {
    margin: 0.5em 0.7em 0.1em 0.7em;
}

.FirstCarPge---ProductDisplay {
    grid-template-columns:  1fr 1fr;
    gap: 1em;
  
}
.scrollingPage---productName {
    font-size: 0.8em;
}

.FirstCartPage---titlePage h2 {
    font-size: 1.2em;
}


.FirstCartPage---titlePage p {
    line-height: 16px;
    font-size: 0.8em;}

    .firstCARTpAGE---filterTag{
        display: inline-flex;
        color: white;
        background: #141B34;
        box-shadow: 0px 4px 4px 1px rgba(138, 135, 135, 0.3);
        border-radius: 8px;
        padding: 9px 9px;
        gap: 7px;
        /* margin-left: 16em; */
        margin-top: 1.5em;
        cursor: pointer;
    }

   



    .FirstCartPage---titlePage {
        margin: 0.9em 2em 2em 3em;}
        .filterIcon{
            font-weight: 700;
            color: white;
        }

        

}

@media screen and (max-width:320px){
  

    .firstCARTpAGE---filterTag {
      margin-left: 13.5em;}


      .FirstCartPage---titlePage h2 {
        font-size: 1em;
    }

      .FirstCartPage---titlePage p {
        margin-top: 4px;
    }



    /* .FirstCartPage---ViewPanel {
        justify-content: center;
        margin-left: 12px;
    } */

    .FirstCartPage---SearchPanel {
        margin-left: -43em;}

        .FirstCarPge---ProductDisplay {
            gap: 0.7em;  
        }


        /* .ProductDisplay---add-to-cart {
            top: 7.5em;
            left: 8em;
        } */

        .Close---SearchPanel{
            width: 50%;
        }

      
       
    
    }