
.FirstCartPage---container{
    margin: 3em 4em 2em 4em;
}


.FirstCartPage---titlePage{
   margin: 3em 2em 2em 3em;
   text-align: center;
}


.FirstCartPage---titlePage h2{
    color: #151414;
    text-align: center;
 
}
.FirstCartPage---titlePage p{
    line-height: 24px;
    color: #646464;
}

.FirstCartPage---ViewPanel{
    display: flex;
    gap: 5em;
}
.FirstCartPage---SearchPanel{
    background: #F4F4F4;
    border: 2px solid #D7D7D7;
    border-radius: 20px;
    width: 15%;
    height: 30em;
    padding: 13px;
}

/* .FirstCartPgae---checkBoxContainer-A{
    margin: 3px 0px 3px 0px;
} */
.FirstCartPgae---checkBoxContainer-A, .FirstCartPgae---checkBoxContainer-B{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}


.FirstCartPgae---checkBoxContainer-A input[type="checkbox"], .FirstCartPgae---checkBoxContainer-B input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #151414;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .FirstCartPgae---checkBoxContainer-A input[type="checkbox"]:checked, .FirstCartPgae---checkBoxContainer-B input[type="checkbox"]:checked {
    background-color: #151414;
    color: white;
  }
  
  .FirstCartPgae---checkBoxContainer-A input[type="checkbox"]:checked::before,  .FirstCartPgae---checkBoxContainer-B input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }








/* am just check dfijdinvjsdnjv */
.FirstCartPgae---labelContent-A{
    margin-left: -7em;
}
.FirstCartPgae---labelContent-B{
    margin-left: -3em;
}
.FirstCartPgae---labelContent-C{
    margin-left: -2.5em;
}
.FirstCartPgae---labelContent-D{
    margin-left: -2em;
    color: #151414;
}
.FirstCarPge---ProductDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */

    gap: 2em;
    /* margin-bottom: 1em; */

}
.FirstCartPgae---RangeBox h4, .FirstCartPage--size{
    margin-top: 25px;
}
.FirstCartPage--size{
    margin-top: 10px;
}
.FirstCartPgae---labelContent-E{
    margin-left: -5.3em;
}
.FirstCartPgae---labelContent-F{
    margin-left: -6.3em;
}
.FirstCartPgae---labelContent-G{
    margin-left: -5.5em;
}
.FirstCartPgae---labelContent-H{
    margin-left: -6em;
}
.FirstCartPage--Brands{
    margin-top: 20px;
}


@media screen and (max-width:375px), (max-width:414px), (max-width:430px){

.FirstCartPage---SearchPanel {
    display: none;
}

.FirstCartPage---container {
    margin: 0.5em 0.7em 0.1em 0.7em;
}

.FirstCarPge---ProductDisplay {
    grid-template-columns:  1fr 1fr;
    gap: 1em;
  
}
.scrollingPage---productName {
    font-size: 0.8em;
}



}



