.range-slider-container {
    /* width: 100%; */
    margin-left: -8px;
    padding: 10px;
  }
  
  .range-slider-track {
    height: 3px;
    width: 100%;
    /* background: #ccc; */
    position: relative;
  }
  
  .range-slider-thumb {
    height: 12px;
    width: 12px;
    background-color: #151414;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* .RangeStyle{
    font-size: 14px;
    padding: 4px 0px 0px 0px;
   
  } */

  .RangeStyle{
    font-size: 13px;
    padding-top: 9px;
  }
  
@media screen and (max-width:375px), (max-width:414px), (max-width:430px){

  .RangeStyle {
    font-size: 0.8em;}

}