.mainPage---color{
    background: #E8EBF8;
    height: 35em;
  }
  
  .mainPage---container{
    display: flex;
    padding: 6em;
    gap: 2em;
  }
  .ShoeImage----container{
    margin-top: -4.5em;
    padding: 2em;
    display: flex;
    position: relative;
   
  }
  .ShoeImage--wahala{
    /* width: 210%; */
   margin-left: 2em;
   height: 30.5em;
  }
  
  .TagCircle{
    position: absolute;
    margin-top: 3em;
    margin-left: 6em;
    /* width: 5%; */
  }
  .mainPage--tile--Container{
    /* width: 110%; */
    margin-top: 5em;
  }
  
  .MainPage--paragraph, .mainPage--title{
    color: #151414;
  }
  
  .MainPage--paragraph{
    line-height: 20px;
    font-weight: 400;
    /* font-size: 15px; */
    font-style: normal;
  }
  .mainPage--title{
    font-weight: bolder;
    font-size: 2.6em;
     padding: 9px 0px 9px 3px;
     width: 100%;
  }

  .mainPage--button{
    background-color: #141B34;
    border-radius: 15px;
    padding: 5px;
    color: white;
    border: none;
    font-size: 15px;
    width: 30%;
    margin-top: 1em;
    position: relative;
    cursor: pointer;
   
  }
  .mainPage--arrow{
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 20px;
    padding: 2px;
    margin-left: 4em;
    margin-top: 0.1em;
  }

 .mainPage--button--text{
    font-size: 15px;
    margin-top: 0.3em;
    position: absolute;
   
 } 


 @media screen and (max-width:1024px){
  .mainPage--title {
    font-size: 2em;}


    .ShoeImage--wahala {
      height: unset;
      width: 90%;
      margin-left: 4em;
    
    }


      .mainPage--tile--Container {
        width: 75%;
        margin-top: unset;}

        .TagCircle {
 margin-left: 4em;}

 .mainPage--button {
  width: 35%;}

  .mainPage---container {
    padding: 4em 4em 4em 4em;
}

 }




 @media screen and (max-width:768px), (max-width:600px), (max-width:820px){
  .mainPage---container {
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .mainPage--tile--Container {
    margin-top: 1em;
    width: unset;
}


.ShoeImage----container {
  margin-top: -2em;
}

.mainPage--button {
  width: 20%;}


  .ShoeImage--wahala {
    width: 76%;
    margin-left: 4em;
}
.TagCircle {
  margin-left: 10em;
  margin-top: 1em;
}

 }
  
 @media screen and (max-width:667px){
  .ShoeImage----container {
    margin-top: 0em;
  }

 }



 @media screen and (max-width:568px){
  .ShoeImage----container {
    margin-top: 1em;
    margin-left: -4em;
  }

  .ShoeImage--wahala {
    width: 86%;
    margin-left: 4em;
    height: unset;
  }

  .TagCircle {
    margin-top: 0em;
    margin-left: 8em;}

    .mainPage--button {
      width: 25%;
    }

    .mainPage--tile--Container {
      width: unset;
     }

 

 }


 


@media screen and (max-width:375px), (max-width:414px), (max-width:430px){



  .mainPage---container {
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .mainPage--title {
    font-size: 1.7em;
  }

    .TagCircle {
      margin-top:3em;
      margin-left: 1.5em;
      width: 20%;
  }

  .ShoeImage--wahala {
    width: 100%;
    margin-left: 2em;
    height: unset;
    margin-top: 3em;
}

.ShoeImage----container {
  margin-left: unset;
  margin-top: -4em;
}

.mainPage--tile--Container {
 margin-top: 0.7em;
 width: unset;
}

.MainPage--paragraph {
  line-height: 25px;}

  .mainPage--button {
    z-index: 999;
    width: 40%;}

}








@media screen and (max-width:320px){
 

  .MainPage--paragraph {
    font-size: 0.9em;
}

.mainPage--title {
  font-size: 1.6em;
}
.mainPage--button {
  width: 42%;}


}

