
.Navigation---container{
    margin-top: 2em;
    margin-left: 18em;
    /* width: 10%; */
    /* text-align: center;
    justify-items: center; */
    justify-content: center;
    list-style: none;
    display: flex;
}
.Navigation---container a{
    border: 1px solid #141B34;
    width: 29px;
    height: 29px;
    padding: 6px;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    color: #141B34;
}

.Navigation---container a:hover{
    color: #D7D7D7;
   background-color:  #141B34;}
   
.paginationActive a{
    color: #D7D7D7;
     background-color:  #141B34;
}



/* .paginationDisabled a{
    background-color:#D7D7D7;
    color: #D7D7D7;
} */


/* .Navigation---PreviousBtn, .Navigation---Btn-F{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #141B34;
    cursor: pointer;
    margin: 6px;
} */

/* .Navigation---Btn-A,
.Navigation---Btn-B, 
.Navigation---Btn-C, 
.Navigation---Btn-D,
.Navigation---Btn-E
{
    border: 1px solid #141B34;
    width: 29px;
    height: 29px;
    padding: 5px;
    border-radius: 5px;
   margin: 6px;
   cursor: pointer;
} */

@media screen and (max-width:375px), (max-width:414px), (max-width:430px){

.Pagination--mainHolder{
    width:50%;
    }
    
    .Navigation---container {
        margin-left: 11em;
        margin-bottom: 1em;
    }
    
   
}