.ProductDisplay--container {
    background: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    height: 14em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 4px;
    cursor: pointer;
    flex: 1 1  1 auto;
    position: relative;
  }

  .ProductDisplay--container:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
  }


  .ProductDisplay--cartBal {
    position: relative;
    color: #646464;
    font-size: 14px;
    margin-left: 12px;
  }
  
  .ProductDisplay--cartBal::before {
    content: '•'; 
    position: absolute;
    top: -8px;
    left: -13px; 
    color: rgb(100, 100, 100);
    font-size: 30px; 
  }
  .ProductDisplay---add-to-cart{
   position: absolute;
   border-radius: 50%;
   color: #141B34;
   font-size: 1.5em;
   left: 8em;
   top: 7em;
  }

  @media screen and (max-width:375px){
  .ProductDisplay---add-to-cart {
    top: -0.5em;
    left: 5.6em;}
  }