.ProductDisplay--container {
    background: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    height: 14em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 4px;
    cursor: pointer;
    flex: 1 1  1 auto;
    position: relative;
  }

  .ProductDisplay--percentage{
    position: absolute;
    /* content: "-25%"; */
    background: rgb(20, 27, 52, 0.8);
    color: white;
    padding: 4px;
    /* border-radius: 4px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    width: 19%;
    font-size: 0.9em;
    left: 10.7em;
    top: 1em;
  }


  


  .ProductDisplay--container:hover{
    transform: scale(1.02);
    transition: 0.1s ease-in-out;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  }


  .ProductDisplay--cartBal {
    position: relative;
    color: #646464;
    font-size: 14px;
    margin-left: 12px;
  }
  
  .ProductDisplay--cartBal::before {
    content: '•'; 
    position: absolute;
    top: -8px;
    left: -13px; 
    color: rgb(100, 100, 100);
    font-size: 30px; 
  }
  .ProductDisplay---add-to-cart{
   position: absolute;
   border-radius: 50%;
   color: #141B34;
   font-size: 1.5em;
   left: 8em;
   top: 7em;
  }


  .ProductDisplay--imageSlide--A {
    background-color: #9DAEEA;
    border-radius: 10px;
    height: 70%;
    overflow: hidden;
    align-content: center;
    /* position: relative; */
  }


  .ProductDisplay--imageSlide--A  img{
    width: 90%;
    /* margin-top: 10px; */
    /* padding: 40px; */
  }


  @media (min-width:1440px){
    .ProductDisplay--percentage {
      left: 11rem;  
      font-size: 1.4em;
      padding: 6px;
      width: 24%;
      }


      .ProductDisplay--container {
        height: 16em;
      width: 16rem;}

  }

  @media (min-width:1820px){
    .ProductDisplay--cartBal {
      margin-left: 17px;
      font-size: 1.4rem;
  }

  .ProductDisplay--cartBal::before {
         top: -21px;
        left: -22px;
        font-size: 55px;
  }

  .ProductDisplay--container {
    height: 20.5em;
}

.ProductDisplay--imageSlide--A {

  height: 13rem;}


  }
  @media  (max-width:1280px){

    .ProductDisplay--container {
      width: 13rem;
    }
    .ProductDisplay--percentage {
        width: 24%;
        font-size: 1.1em;
        left: 8em;}

  }

  @media screen and (max-width:1024px){
    .ProductDisplay---add-to-cart {
      left: 7.5em;}


      .ProductDisplay--container {
        width: 11rem;
        height: 13em}


        .ProductDisplay--percentage {
          width: 23%; 
          left: 7.5rem;
         }





  }

  @media screen and (max-width:988px){
    
    .ProductDisplay--container {
      width: 14rem;
    }

    .Product--details {
      flex-direction: column;
  }

  }

  @media screen and (max-width:960px){

    .ProductDisplay--percentage{
      width: 21%;     
      left: 10rem;
      font-size: 1em;
}
  }


  @media screen and (max-width:768px),  (max-width:600px),  (max-width:820px){

  
  .ProductDisplay---add-to-cart {
    left: 5.5em;
    top: 0em;
    /* z-index: 999; */
}

.ProductDisplay--container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 13em;
    width: 13rem;
}

.scrollingPage---productName {
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.ProductDisplay--percentage {
  left: 9rem;
}

@media (max-width:475px){
  .ProductDisplay--percentage {
    left: 6rem;
    width:24%;
  }
  
}
/* .FirstCartPage---ViewPanel {
  margin-left: -1.3rem;
} */

  }

  @media screen and (max-width:667px){
    .ProductDisplay---add-to-cart {
      left: 6.5em;}

  }




  @media screen and (max-width:568px){
    .ProductDisplay--imageSlide--A {height: 61%;}


    

    .ProductDisplay--container {
      height: 12em;
        width: 10em;
        overflow: visible;}

  }

  @media  (max-width:540px){
    .ProductDisplay--percentage {
      width: 32%;
      left: 5.8rem;
      font-size: 1.13em;
  }

  }


  @media screen and (max-width:375px), (max-width:414px), (max-width:430px){
  .ProductDisplay---add-to-cart {
    top: -0.5em;
    left: 5.6em;}

    .ProductDisplay--container {
      overflow: hidden;
      /* height: unset; */
      width: 10rem;
  }

  .ProductDisplay--percentage { 
    left: 5.4em;  
    width: 30%;
}

.ProductDisplay--imageSlide--A {
  height: 7rem;
}



}

@media  (max-width:344px){
  
  .ProductDisplay--percentage { 
    left: 5.2em;  
    
}
.FirstCartPage---titlePage h2 {
  font-size: 1.1em;
}

}

  @media screen and (max-width:320px){
    /* .ProductDisplay--container {
      height:12em
    } */

    .ProductDisplay--container {
      width: 9rem;
      overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 11em;
  }

  .scrollingPage---productName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.ProductDisplay---add-to-cart {
  top: 0.1em;
  left: 4em;}

  .ProductDisplay--percentage { 
    left: 4.5em;
    width: 33%;
}

.ProductDisplay--imageSlide--A {
  height: 6.5rem;
}
  
  }