*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Arial';
}

html{
  scroll-padding-top: 100px;
}

body{
  background: #E8EBF8;
  margin-top: 3.5em;
}


.Header{
  background: #141B34;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-top: -3.5em;

}

.Header.active{
  position: fixed;
 
  width: 100%;
  /* top: 0; */
  z-index: 99;
  transition: 1s ease-in;
}

.Header--logo{
font-family: 'Arial';
/* font-style: normal; */
font-weight: 700;
font-size: 32px;
margin-left: 3em;
color: #F4F4F4;
/* letter-spacing: -3.5px; */
}
.Menuebar{
  position: relative;
}

.Menuebar ul{
  display: flex;
  color: #F4F4F4;
  list-style: none;
  gap: 2em;
  margin-top: 10px;
}
.Menuebar ul a, .Menue--icon a{
  text-decoration: none;
  color: #F4F4F4;
  cursor: pointer;
}
.Menuebar ul .active{
  border-bottom: 3px solid #F4F4F4;
}

.testing{
  display: flex;
  gap: 2em;
}

.Menue--icon{
  color: #F4F4F4;
  font-weight: bolder;
  cursor: pointer;
 position: relative;
 margin-right: 6em;

}

.Menue--icon img{
 margin-left: 1em;
 margin-right: 4em;
}

.search--icon{
  font-size: 2em;
}

.Cart-countHolder{
  position: absolute;
  left: 4.7em;
  top: -0.3em;
  background-color: #141B34;
  border-radius: 50%;
  padding: 5px;
  
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
   /* border: 2px solid #F4F4F4; */
}

.Cart-countHolder--empty{
  display: none;
}
.popup-message-A{
  position: fixed;
  top: 20px;
  right: 5px;
color: #F4F4F4;
background-color:#141B34 ;
/* text-align: center; */
width: auto;
z-index: 1000;
/* left: 40em;
top: 7em; */
border-radius: 10px;
padding: 5px;
display: flex;
gap: 4px;

}
.popup-message{
  position: fixed;
    top: 20px;
    right: 20px;
  color: #F4F4F4;
  background-color:#141B34 ;
  /* text-align: center; */
  width: auto;
  z-index: 1000;
  /* left: 40em;
  top: 7em; */
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 4px;
  animation: fadeOut 4s forwards;
}

.popup-message .popup-icon{
  font-size: 1.5em;
}
.popup-message p{
margin-top: 2.5px;
padding-right: 5px;
}

@keyframes fadeOut {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.cartIcon{
  cursor: pointer;
}
.Menubar--handle{
  display: none;
}
/********************************************
MEDIA QUERY FOR MOBILE DEVICE BEGINS HERE 
***********************************************/
@media screen and (max-width:430px){
  .search--icon {
    margin-left: 3.2em;}
}

@media screen and (max-width:414px){
  .search--icon {
    margin-left: 2.5em;}
}


@media screen and (max-width:375px){
  .search--icon {
  margin-left: 1.5em;}
}

@media screen and (max-width:375px), (max-width:414px), (max-width:430px){
  .testing {  
    flex-direction: column;
}
.Header {
  /* position: sticky;
  z-index: 999; */
  
  height: 1.5em;}


  .Header.active{
    top: 3em;
  
  }

.Menuebar ul {
  flex-direction: column;
  position: absolute;
  background: #141B34;
  padding: 10px;
  width: 7em;
  height: 7em;
  margin-top: -1.5em;
  text-align: center;
  /* border-top: 2px solid white; */
}
.Menubar--handle{
 display: block;
 margin-left: -0.2rem;
position: absolute;
top: 1.4em;
color: white;

}

.open{
  /* display: block; */
  position: absolute;
  left: -0.5rem;
  transition: 1s ease-in-out; 
   /* z-index: 1;
  top: 1.5em; */
}

.close{
  position: absolute;
    left: -14rem;
transition: 1s ease-in-out;
/* z-index: 1; */

}


.Menuebar ul .active {
  border-bottom: none;
}

.Menuebar ul li{
  margin-left: 8px;
  padding-top: 7px;
}

.Header--logo {
  margin-left: 4em;
  font-size: 1.3em;
 margin-top: 0.3em;
}

.Menue--icon {
  display: flex;
margin-top: 0.2em;
}


.Menue--icon img {
/* width: 25%; */
margin-top: -0.5em;
margin-right: unset;
}

/* .Menue--icon img {
  margin-left: 2em;} */

  .search--icon {

    margin-right: -0.3em;
    font-size: 1.7em;
}

.Cart-countHolder {
  top: -0.5em;
  left: 5.6em;}

}


@media screen and (max-width:320px){
  .Header--logo {
    margin-left: 2.5em;}

    .search--icon {
      margin-left: 1em;
  }

  .Cart-countHolder {
    left: 5em;
}



}