@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

html{
  scroll-padding-top: 100px;
}

body{
  background: #E8EBF8;
  /* margin-top: 3.5em; */
}


.Header{
  background: #141B34;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  /* margin-top: -3.5em; */

}

.Header.active{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: 1s ease-in;
}

.Header--logo{
font-family: 'Arial';
/* font-style: normal; */
font-weight: 700;
font-size: 32px;
margin-left: 3em;
color: #F4F4F4;
/* letter-spacing: -3.5px; */
}
.Menuebar{
  position: relative;
}

.Menuebar ul{
  display: flex;
  color: #F4F4F4;
  list-style: none;
  gap: 2em;
  margin-top: 10px;
}
.Menuebar ul a, .Menue--icon a{
  text-decoration: none;
  color: #F4F4F4;
  cursor: pointer;
}
.Menuebar ul .active{
  border-bottom: 3px solid #F4F4F4;
}

.testing{
  display: flex;
  gap: 2em;
}

.Menue--icon{
  color: #F4F4F4;
  font-weight: bolder;
  cursor: pointer;
 position: relative;
 margin-right: 6em;

}

.Menue--icon img{
 margin-left: 1em;
 margin-right: 4em;
}

.search--icon{
  font-size: 2em;
}

.Cart-countHolder{
  position: absolute;
  left: 4.2em;
  top: -0.1em;
  width: 10px;
  height: 10px;
  background-color: #141B34;
  border-radius: 50%;
  padding: 12px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.Cart-countHolder--empty{
  display: none;
}
.popup-message-A{
  position: fixed;
  top: 20px;
  right: 5px;
color: #F4F4F4;
background-color:#141B34 ;
/* text-align: center; */
width: auto;
z-index: 1000;
/* left: 40em;
top: 7em; */
border-radius: 10px;
padding: 5px;
display: flex;
gap: 4px;

}
.popup-message{
  position: fixed;
    top: 20px;
    right: 20px;
  color: #F4F4F4;
  background-color:#141B34 ;
  /* text-align: center; */
  width: auto;
  z-index: 1000;
  /* left: 40em;
  top: 7em; */
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 4px;
  animation: fadeOut 4s forwards;
}

.popup-message .popup-icon{
  font-size: 1.5em;
}
.popup-message p{
margin-top: 2.5px;
padding-right: 5px;
}

@keyframes fadeOut {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.cartIcon{
  cursor: pointer;
}
.Menubar--handle{
  display: none;
}


/********************************************
MEDIA QUERY FOR MOBILE DEVICE BEGINS HERE 
***********************************************/





@media screen and (max-width:768px), (max-width:600px),  (max-width:820px){
  .testing {  
    flex-direction: column;
}
.Header {
  height: 3.5em;}

  .Menuebar ul {
    flex-direction: column;
    position: absolute;
    background: #141B34;
    padding: 10px;
    width: 9em;
    /* height: 7em; */
    margin-top: -1.5em;
    text-align: center;
    
  }

  .Menuebar ul li{
    margin-top: 0.7em;
  }
  .Menubar--handle{
   display: block;
   margin-left: 0.5rem;
  position: absolute;
  top: 1.1em;
  color: white;
  }
  
  .open{
    position: absolute;
    left: -0.5rem;
    transition: 1s ease-in-out; 
  }
  
  .close{
    position: absolute;
      left: -14rem;
  transition: 1s ease-in-out;
  }


  .Header--logo {
   font-size: 28px;
  margin-left: 1.2em;
   /* margin-top: -0.1em; */
  }

  .Menue--icon {
    margin-right: 0.2em;
    margin-top: -0.3em;
}
  
.Menuebar ul .active {
  border-bottom: none;
}
  
}


@media(max-width:600px){
  .Header--logo { 
   margin-top: -0.2em; }

   .Menuebar ul {
    margin-top: -1.9em;
}

}
@media screen and (max-width:568px){
  .Header--logo { 
    margin-left: 1.2em;}

    .Menue--icon {
      margin-left: 1em;
      /* width: 100%; */
  }

  /* .Menue--icon img {
    margin-right: 2em;
} */




html{
  scroll-padding-top: 150px;
}



}


@media screen and (max-width:480px){
  .Cart-countHolder {
    left: 3.5em;
    top: -0.5em;}

    /* .Menue--icon {
      margin-right: 1em;} */

      .Header--logo {
        margin-left: 6em;}


}
@media screen and (max-width:430px){
  .search--icon {
    margin-left: 3.2em;}
    .Cart-countHolder {
      top: -0.5em;
      left: 8.6em;}

      .Menue--icon {
        margin-right: 3em;}
        .Header--logo {
          margin-left: 4em;}
}

@media screen and (max-width:414px){
  .search--icon {
    margin-left: 2.5em;}
    .Cart-countHolder {
      top: -0.5em;
      left: 7.6em;}

      /* .Menue--icon {
        margin-right: 3em;} */

        .Header--logo {
          margin-left: 4em;}
}


@media screen and (max-width:390px){
  .search--icon {
  margin-left: 2em;}


  .Cart-countHolder {
    top: -0.5em;
    left: 6.6em;
}
.Menue--icon {
  margin-right: 3em;}

  .Header--logo {
    margin-left: 4em;}

}

@media screen and (max-width:375px){
  .search--icon {
  margin-left: 1.5em;}

  .Cart-countHolder {
    top: -0.5em;
    left: 5.6em;}


    .Menue--icon {
    margin-right: 3em;}

    .Header--logo {
      margin-left: 4em;}
}






@media screen and (max-width:375px), (max-width:414px), (max-width:430px),(max-width:480px){

  html{
    scroll-padding-top: 50px;
  }

  .testing {  
    flex-direction: column;
}
.Header {
  width: 100%;
  /* height: 1.5em; */
}


  /* .Header.active{ */
    /* width: unse; */
  
  /* } */

.Menuebar ul {
  flex-direction: column;
  position: absolute;
  background: #141B34;
  padding: 10px;
  width: 7em;
  /* height: 7em; */
  margin-top: -1.5em;
  text-align: center;
  z-index: 99;
}
.Menubar--handle{
 display: block;
 margin-left: -0.2rem;
position: absolute;
top: 1.4em;
color: white;
}

.open{
  position: absolute;
  left: -0.5rem;
  transition: 1s ease-in-out; 
}

.close{
  position: absolute;
    left: -14rem;
transition: 1s ease-in-out;
}


.Menuebar ul .active {
  border-bottom: none;
}

.Menuebar ul li{
  margin-left: 8px;
  padding-top: 7px;
}

.Header--logo {
  margin-left: 1.2em;
  font-size: 1.3em;
  /* margin-top: 0.3em; */
}

.Menue--icon {
  display: flex;
margin-top: 0.2em;
margin-right: 0.1em;
margin-left: unset;
}


.Menue--icon img {
/* width: 25%; */
margin-top: -0.5em;
margin-right: unset;
}

/* .Menue--icon img {
  margin-left: 2em;} */

  .search--icon {
    margin-right: -0.3em;
    font-size: 1.7em;
}



}


@media screen and (max-width:320px){
  .Header--logo {
    margin-left: 1.2em;}

    .search--icon {
      margin-left: 1em;
  }

  .Cart-countHolder {
    left: 5em;
}

.Menue--icon {
  margin-left: -0.4em;
}

}