*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Arial';



}
body{
  background: #E8EBF8;
}
.Header{
  background: #141B34;
  display: flex;
  justify-content: space-between;
  padding: 1em;
 
}

.Header--logo{
font-family: 'Arial';
/* font-style: normal; */
font-weight: 700;
font-size: 32px;
margin-left: 3em;
color: #F4F4F4;
/* letter-spacing: -3.5px; */
}

.Menuebar ul{
  display: flex;
  color: #F4F4F4;
  list-style: none;
  gap: 2em;
  margin-top: 10px;
}

.testing{
  display: flex;
  gap: 2em;
}

.Menue--icon{
  color: #F4F4F4;
  font-weight: bolder;
 
}

.Menue--icon img{
 margin-left: 1em;
 margin-right: 4em;
}

.search--icon{
  font-size: 2em;
}



